<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Please input information for new Product</h1>
<form action="/product/create" method="post" th:object="${product}">
    <table border="1" style="border-collapse: collapse">
        <tr>
            <td>Name Product</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price Product</td>
            <td><input type="number" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Describe Product</td>
            <td><input type="text" th:field="*{des}"></td>
        </tr>
        <tr>
            <td>Made By</td>
            <td><input type="text" th:field="*{madeBy}"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="create">
            </td>
        </tr>
    </table>
</form>
</body>
</html>