<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create new Song</h1>
<form th:action="@{/music/create}" method="post" th:object="${songObject}">
    <table>
        <tr>
            <td>Nhập tên bài hát</td>
            <td><input type="text" th:field="*{nameSong}"></td>
            <td th:if="${#fields.hasErrors('nameSong')}" th:errors="*{nameSong}"></td>
        </tr>
        <tr>
            <td>Nhập tên nghệ sĩ viết bài hát</td>
            <td><input type="text" th:field="*{nameWriteSong}"></td>
            <td th:errors="*{nameWriteSong}" th:if="${#fields.hasErrors('nameWriteSong')}"></td>
        </tr>
        <tr>
            <td>Nhập thể loại bài hát</td>
            <td><input type="text" th:field="*{typeSong}"></td>
            <td th:errors="*{typeSong}" th:if="${#fields.hasErrors('typeSong')}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>

</body>
</html>