<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="/static/bootstrap5.1/css/bootstrap.min.css">-->
</head>
<body>

    <footer class="bd-footer py-5 mt-5 bg-light">
        <div class="container py-3">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Tutor Coach</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">Tutor Linh Aka </li>
                        <li><img src="/img/tutor-3.jpg" width="110" alt="This is Linh"></li>
                        <li class="mb-2">
                            <p>Click here to listen</p>
                            <img src="/img/click.jpg" width="50" alt="Click" id="icon" role="button">
                        </li>
                        <audio id="mySong" >
                            <source src="/img/music.mp4" type="audio/mp4" >
                        </audio>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5>More information</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">Docs</li>
                        <li class="mb-2">Docs</li>
                        <li class="mb-2">Docs</li>
                        <li class="mb-2">Docs</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5>About us</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">Home</li>
                        <li class="mb-2">Home</li>
                        <li class="mb-2">Home</li>
                        <li class="mb-2">Home</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5>Contact</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">Email</li>
                        <li class="mb-2">Zalo</li>
                        <li class="mb-2">Facebook</li>
                        <li class="mb-2">Tutor Linh Aka King CSS Bootstrap</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


<!--<script src="/static/bootstrap5.1/js/bootstrap.bundle.min.js"></script>-->
</body>
</html>